body {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, arial, sans-serif;
	font-weight: 100;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
}

.redColor {
	color: #900;
}
.droidFont {
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
}
.prepend-top {
	margin-top: 1.5em;
}

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg) { ... }